<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
				<key>dateExpires</key>
				<string>13/03/2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Braintree.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BraintreeDropIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CardinalMobile.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_mailer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_plugin_android_lifecycle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A92955BB69C38F5775ECE4A4625C5236933C285</string>
						<key>dateExpires</key>
						<string>13/03/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L6C467LGR6</string>
						<key>name</key>
						<string>Hasan Ali</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L6C467LGR6.com.algorepublic.dermPro</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>L6C467LGR6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>90ee0ad9-80fd-4981-ae21-93dea673e750</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.algorepublic.dermPro</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L6C467LGR6</string>
				<key>name</key>
				<string>Hasan Ali</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
