<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375065625646-vt5n4c0r909v23eebnmv4kafldidprhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375065625646-vt5n4c0r909v23eebnmv4kafldidprhl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>375065625646-8po8busec8cghm0g7oqp5gkcplmr55p6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYeF8sSc55iJhp_xvL7mZHSRTBo11h9IE</string>
	<key>GCM_SENDER_ID</key>
	<string>375065625646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.algorepublic.dermpro</string>
	<key>PROJECT_ID</key>
	<string>dermpro-6f7c4</string>
	<key>STORAGE_BUCKET</key>
	<string>dermpro-6f7c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:375065625646:ios:9040f2dbb47e7a0bc98bbf</string>
	<key>DATABASE_URL</key>
	<string>https://dermpro-6f7c4.firebaseio.com</string>
</dict>
</plist>
